<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} %x - %m%n"/>
        </Console>

        <RollingFile name="DIALY" fileName="daily.log" filePattern="%d{ddMMyyyy-HHmm}_daily.log">
            <PatternLayout pattern="%d [%7r] %5p - %c - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>

        <Logger name="ru.otus" level="DEBUG">
            <AppenderRef ref="DAILY"/>
        </Logger>

    </Loggers>
</Configuration>